<button class='btn btn-primary' ng-click='openAddNewEventModal()'>Add Event</button>
<br>
<br>
<table class='table table-responsive'>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Type</th>
    <th>Details</th>
  </tr>
  <tr ng-repeat='event in events'>
    <td>{{event.date}}</td>
    <td>{{event.time}}</td>
    <td>{{event.type}}</td>
    <td><p ng-repeat='detail in event.details'>{{detail}}</p></td>
  </tr>
</table>
<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">New Event</h3>
        </div>
        <div class="modal-body" id="modal-body">
        <form>        
          <div class='form-group'>
            <label for="event_select">Type:</label>
            <select name='event_select' ng-model='event.type'>
              <option ng-repeat='event in event_types'>{{event}}</option>
            </select>   
          </div>  
          <div ng-if="event.type == 'Diaper Change'" class='form-group'>
            <label for="wet_diaper">Wet?</label>
            <input  ng-model='event.details.wet' ng-true-value="'Wet'" ng-false-value="undefined" type='checkbox' name='wet_diaper'>
             <label for="poop_diaper">Poopy?</label>
            <input ng-model='event.details.poopy' ng-true-value="'Poopy'" ng-false-value="undefined" type='checkbox' name='poop_diaper'>
          </div>     
        </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>